@import '../../../../../shared/styles/variables.scss';

.header {
  font-weight: 500;
}

.data {
  text-align: center;
}

.button-container {
  margin-top: 15px;

  .back-button {
    margin-right: 5px;
  }

  .submit-button {
    margin-left: 5px;
  }
}

.summary-image {
  @include formImage(300px, -400px, -20px);
}
