<app-form-container [formSectionName]="'Summary'">
  <mat-list>
    <mat-list-item>
      <span fxFlex="50" class="header">Date of birth</span>
      <span fxFlex="50" class="data">
        {{
          this.signUpForm?.get('userPersonal')?.value.dateOfBirth
            | date: 'mediumDate'
        }}
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <span fxFlex="50" class="header">Height</span>
      <span fxFlex="50" class="data">
        {{ this.signUpForm?.get('userPersonal')?.value.height }} cm
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <span fxFlex="50" class="header">Weight</span>
      <span fxFlex="50" class="data">
        {{ this.signUpForm?.get('userPersonal')?.value.weight }} kg
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <span fxFlex="50" class="header">Gender</span>
      <span fxFlex="50" class="data">
        {{ this.signUpForm?.get('userPersonal')?.value.gender }}
      </span>
    </mat-list-item>
  </mat-list>

  <br />

  <mat-list>
    <mat-list-item>
      <span fxFlex="50" class="header">Activity level</span>
      <span fxFlex="50" class="data">
        {{ this.signUpForm?.get('activityAndGoal')?.value.activityLevel }}
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span fxFlex="50" class="header">Diet goal</span>
      <span fxFlex="50" class="data">
        {{ this.signUpForm?.get('activityAndGoal')?.value.dietGoal }}
      </span>
    </mat-list-item>
  </mat-list>

  <div class="button-container" fxLayoutAlign="center center">
    <button class="back-button" mat-button matStepperPrevious>Back</button>
    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</app-form-container>
