<div class="search-meals-container">
  <h2 class="header">Search meals</h2>
  <mat-card fxLayout fxLayoutGap="20px">
    <div
      class="search-meals-form"
      fxLayout="column"
      fxFlex="50"
      fxLayoutAlign="center center"
    >
      <mat-form-field class="calories-amount-input">
        <input
          type="number"
          matInput
          placeholder="Amount of calories"
          required
        />
      </mat-form-field>

      <mat-form-field class="ingredients-list">
        <mat-label>Ingredients</mat-label>
        <mat-chip-list #chipList aria-label="Ingredients selection">
          <ng-container *ngIf="ingredients.length > 0">
            <mat-chip
              *ngFor="let ingredient of ingredients"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removIngredient(ingredient)"
            >
              {{ ingredient.name }}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </ng-container>
          <input
            placeholder="Type a new ingredient and press Enter"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addIngredient($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <ng-container *ngIf="mode === 'advanced'"></ng-container>

      <div class="button-container" fxLayoutAlign="center center">
        <button
          type="submit"
          class="search-button"
          mat-raised-button
          color="primary"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="search-result" fxFlex="50" fxLayoutAlign="center center">
      <div class="no-results-container" fxLayout="column">
        <img class="no-data-img" src="../../../../assets/empty.svg" />
        <h3 class="no-results-header">No results</h3>
      </div>
    </div>
  </mat-card>
</div>
