@import '../../../../styles/variables';

.container {
  padding-bottom: 50px;

  .form-container {
    .header {
      position: relative;
      font-weight: 500;

      @include underlineText(105px);
    }

    .search-meals-form {
      width: 60%;

      .calories-amount-container,
      .meal-type-container,
      .protein-amount-container,
      .fat-amount-container,
      .carbs-amount-container {
        width: 50%;
      }

      .ingredients-list {
        width: 100%;
      }

      .button-container {
        margin-top: 5px;
      }
    }
  }

  .search-results {
    .header {
      position: relative;
      font-weight: 500;

      @include underlineText(60px);
    }

    .results-container {
      .no-data-img {
        width: 200px;
        margin-bottom: 10px;
      }

      .no-results-header {
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
