<mat-accordion>
  <mat-expansion-panel
    *ngFor="let training of trainingsData"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ training.exercise }} </mat-panel-title>
      <mat-panel-description>
        {{ calculateWorkoutTime(training) }} min
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-button color="primary">
      <mat-icon>add</mat-icon>
      Select this exercise
    </button>
  </mat-expansion-panel>
</mat-accordion>
