@import '../../../styles/variables.scss';

.meals-container {
  padding-top: 20px;
  max-width: 700px;

  .section-header {
    position: relative;

    @include underlineText(123px);
  }

  .panel-container {
    width: 85%;

    .panel-title {
      font-weight: 500;
    }

    .first-row {
      .image-container {
        img {
          width: 175px;
          height: 175px;
          border-radius: 50%;
        }
      }

      .macros-container {
        min-width: 250px;

        .macro-amount {
          text-align: center;
        }
      }
    }

    .second-row {
      margin-top: 20px;

      .description-header {
        position: relative;
        font-weight: 500;

        @include underlineText(55px);
      }
    }

    .buttons-container {
      padding: 16px 24px 16px 24px;
    }
  }
}
