<div class="meals-container" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="section-header">{{ sectionName }}</h1>
  <mat-accordion class="panel-container">
    <mat-expansion-panel
      *ngFor="let meal of data"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title">
          {{ meal.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ meal.calories }} kcal
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="first-row" fxLayoutAlign="space-around">
        <div class="image-container" fxFlex="40">
          <img src="{{ meal.image }}" />
        </div>
        <div class="macros-container" fxFlex="60" fxLayoutAlign="end center">
          <mat-list fxFlex="250px">
            <mat-list-item>
              <span fxFlex="50">Protein</span>
              <span fxFlex="50">{{ meal.macrosInGram.protein }} g</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span fxFlex="50">Fat</span>
              <span fxFlex="50">{{ meal.macrosInGram.fat }} g</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span fxFlex="50">Carbs</span>
              <span fxFlex="50">{{ meal.macrosInGram.carbs }} g</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="second-row">
        <h3 class="description-header">Description</h3>
        <p>{{ meal.fullDescription }}</p>
      </div>

      <mat-action-row>
        <button *ngIf="mode === 'mealList'" mat-button color="warn">
          Delete
        </button>
        <button mat-button color="primary" (click)="openDialog(meal)">
          More information
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
