<mat-nav-list>
  <a *ngIf="isAuth" mat-list-item routerLink="" (click)="onClose()">
    <mat-icon color="primary">home</mat-icon>
    <span class="nav-item-label">Home</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/searchMeals" (click)="onClose()">
    <mat-icon color="primary">menu_book</mat-icon>
    <span class="nav-item-label">Search meals</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon color="primary">face</mat-icon>
    <span class="nav-item-label">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon color="primary">login</mat-icon>
    <span class="nav-item-label">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item (click)="onLogout()">
    <mat-icon color="primary">logout</mat-icon>
    <span class="nav-item-label">Logout</span>
  </a>
</mat-nav-list>
