<div>
  <h1 class="section-header">Training status</h1>
  <mat-card>
    <div class="content-container" fxLayout="column">
      <div
        *ngIf="!trainingsStatus; else trainingSection"
        fxLayoutAlign="center center"
        fxLayout="column"
      >
        <img
          class="no-training-needed-img"
          src="../../../../assets/finish.svg"
        />
        <h3 class="no-training-needed-header">No training needed</h3>
      </div>
      <ng-template #trainingSection>
        <div class="training-container" fxLayout="column">
          <div
            class="info-container"
            fxLayout="row"
            fxLayoutAlign="space-around"
          >
            <div
              class="calories-info"
              fxLayout="column"
              fxLayoutAlign="center flex-start"
            >
              <h3 class="info-header">Calorie limit exceeded!</h3>
              <div fxLayoutAlign="center center">
                <mat-icon>local_fire_department</mat-icon>
                <span class="calories-to-burn-label">
                  To burn: {{ excessCalories }} kcal
                </span>
              </div>
            </div>
            <div>
              <img
                class="start-workout-image"
                src="../../../../assets/start_workout.svg"
              />
            </div>
          </div>

          <div class="exercise-selection-container">
            <mat-tab-group dynamicHeight>
              <mat-tab label="Type and intensity">
                <div class="tab-container">
                  <app-type-and-intensity-tab></app-type-and-intensity-tab>
                </div>
              </mat-tab>
              <mat-tab label="Choose from the list">
                <div class="tab-container">
                  <app-choose-from-list-tab
                    [trainingsData]="trainingsData"
                  ></app-choose-from-list-tab>
                </div>
              </mat-tab>
              <mat-tab label="Pick for me">
                <div class="tab-container">
                  <app-pick-for-me-tab
                    [caloriesToBurn]="excessCalories"
                    [trainingsData]="trainingsData"
                  ></app-pick-for-me-tab>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
