@import '../../../shared/styles/variables.scss';

.section-header {
  position: relative;

  @include underlineText(140px);
}

.content-container {
  .no-training-needed-img {
    width: 200px;
    height: 145px;
    margin-bottom: 10px;
  }

  .no-training-needed-header {
    font-weight: 500;
    margin: 0;
  }

  .training-container {
    .info-container {
      padding-bottom: 20px;

      .calories-info {
        .info-header {
          font-weight: 500;
        }
      }

      .calories-to-burn-label {
        margin-left: 10px;
      }
    }

    .start-workout-image {
      width: 200px;
    }

    .exercise-selection-container {
      .tab-container {
        margin: 20px 0;
      }
    }
  }
}
