<mat-toolbar class="toolbar-container" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <a routerLink="/">Planning app</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li *ngIf="isAuth" routerLink="/user-data">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="isAuth" mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              Logout
            </button>
            <button *ngIf="!isAuth" mat-menu-item routerLink="/signup">
              <mat-icon>face</mat-icon>
              Signup
            </button>
            <button *ngIf="!isAuth" mat-menu-item routerLink="/login">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
