a {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: #d3d3d3;
  }
}

button {
  &:hover,
  &:active {
    color: #d3d3d3;
  }
}

.toolbar-container {
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
