@import '../../../shared/styles/variables.scss';

.progress-container {
  margin: 20px 0;

  .header-progress {
    margin: 10px 0 3px;
  }

  .progress-info {
    margin-bottom: 0;

    .progress-exceeded {
      color: $warnColor;
      font-weight: bold;
    }

    .burnedCalories {
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-icon {
        font-size: 20px;
      }
    }

    .emptyLine {
      height: 24px;
    }
  }
}
