<mat-card
  class="progress-container"
  fxLayout="row"
  fxLayoutAlign="space-around"
>
  <ng-container *ngFor="let progress of progresses; let last = last">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner
        mode="determinate"
        color="{{ progress.currentValue > progress.limit ? 'warn' : 'accent' }}"
        [value]="progress.progress"
      ></mat-spinner>
      <h2 class="header-progress">{{ progress.name }}</h2>
      <p class="progress-info">
        <span
          [ngClass]="
            progress.currentValue > progress.limit ? 'progress-exceeded' : ''
          "
          >{{ progress.currentValue }}
        </span>
        of {{ progress.limit }}
        <span>{{ progress.name === 'Calories' ? 'kcal' : 'g' }}</span>

        <span
          class="burnedCalories"
          *ngIf="burnedCalories > 0 && progress.name === 'Calories'"
        >
          <mat-icon>local_fire_department</mat-icon>
          <span> {{ burnedCalories }} kcal </span>
        </span>
        <ng-container *ngIf="burnedCalories > 0 && progress.name != 'Calories'">
          <div class="emptyLine"></div>
        </ng-container>
      </p>
    </div>
    <mat-divider *ngIf="!last" [vertical]="true"></mat-divider>
  </ng-container>
</mat-card>
