$primaryColor: #673ab7;
$accentColor: #ffd740;
$warnColor: #f44336;

@mixin underlineText($widthNum) {
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: $widthNum;
    height: 5px;
    border-radius: 5px;
    background-color: $accentColor;
    opacity: 0.8;
  }
}
