$primaryColor: #673ab7;
$accentColor: #ffd740;
$warnColor: #f44336;

@mixin underlineText($widthNum) {
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: $widthNum;
    height: 5px;
    border-radius: 5px;
    background-color: $accentColor;
    opacity: 0.8;
  }
}

@mixin formImage($widtHeightNum, $leftNum, $topNum: -60px) {
  position: absolute;
  width: $widtHeightNum;
  height: $widtHeightNum;
  left: $leftNum;
  top: $topNum;
}
