<form [formGroup]="signUpForm" class="signup-container">
  <mat-horizontal-stepper
    class="stepper-container"
    gdGap="20px"
    labelPosition="bottom"
    #stepper
    linear
  >
    <mat-step
      formGroupName="userAccount"
      [stepControl]="signUpForm.get('userAccount')!"
    >
      <ng-template matStepLabel>Account</ng-template>
      <app-signup-account-step
        [signUpForm]="signUpForm"
      ></app-signup-account-step>
    </mat-step>

    <mat-step
      formGroupName="userPersonal"
      [stepControl]="signUpForm?.get('userPersonal')!"
    >
      <ng-template matStepLabel>Personal</ng-template>
      <app-signup-personal-step
        [signUpForm]="signUpForm"
      ></app-signup-personal-step>
    </mat-step>

    <mat-step
      formGroupName="activityAndGoal"
      [stepControl]="signUpForm?.get('activityAndGoal')!"
    >
      <ng-template matStepLabel>Activity and Goal</ng-template>
      <app-signup-activity-and-goal-step
        [signUpForm]="signUpForm"
      ></app-signup-activity-and-goal-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <app-signup-summary-step
        [signUpForm]="signUpForm"
      ></app-signup-summary-step>
    </mat-step>
  </mat-horizontal-stepper>
</form>
