<app-step-form-container [formSectionName]="'Summary'">
  <mat-list>
    <mat-list-item>
      <p class="header">
        Name:
        <span class="data">{{
          this.signUpForm.get('userAccount')?.value.name
        }}</span>
      </p>
    </mat-list-item>

    <mat-list-item>
      <p class="header">
        Date of birth:
        <span class="data">{{
          this.signUpForm.get('userPersonal')?.value.dateOfBirth
            | date: 'mediumDate'
        }}</span>
      </p>
    </mat-list-item>

    <mat-list-item>
      <p class="header">
        Height:
        <span class="data"
          >{{ this.signUpForm.get('userPersonal')?.value.height }} cm</span
        >
      </p>
    </mat-list-item>

    <mat-list-item>
      <p class="header">
        Weight:
        <span class="data"
          >{{ this.signUpForm.get('userPersonal')?.value.weight }} kg</span
        >
      </p>
    </mat-list-item>

    <mat-list-item>
      <p class="header">
        Gender:
        <span class="data">{{
          this.signUpForm.get('userPersonal')?.value.gender
        }}</span>
      </p>
    </mat-list-item>
  </mat-list>

  <div class="button-container" fxLayoutAlign="center center">
    <button class="back-button" mat-button matStepperPrevious>Back</button>
    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</app-step-form-container>
