<h1 mat-dialog-title fxLayoutAlign="center">{{ mealData.title }}</h1>
<mat-dialog-content
  class="content-container"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <div
    class="first-row"
    fxLayout
    fxLayoutAlign="space-around"
    fxLayoutGap="20px"
  >
    <div class="img-info-container" fxLayout fxLayoutGap="20px">
      <div class="image-container">
        <img src="{{ mealData.image }}" />
      </div>
      <div
        class="meal-basic-info-container"
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <div class="cook-time-container">
          <mat-icon>schedule</mat-icon>
          <span>Ready in {{ mealData.readyInMinutes }} min</span>
        </div>
        <div class="calories-container">
          <mat-icon>local_fire_department</mat-icon>
          <span
            >{{ mealData.nutrients[0].amount | number: '1.0-0' }}
            {{ mealData.nutrients[0].unit }}</span
          >
        </div>
        <div class="meal-type" *ngIf="mealData.diets.includes('vegan')">
          <mat-icon>local_dining</mat-icon>
          <span>Vegan</span>
        </div>
      </div>
    </div>
    <div>
      <img class="cooking-image" src="../../../../assets/cooking.svg" />
    </div>
  </div>

  <div class="second-row" fxLayoutGap="50px">
    <div class="ingredients-container" fxFlex="50">
      <h3 class="ingredients-header">Ingredients</h3>
      <mat-list>
        <ng-container *ngFor="let item of ingredients; let last = last">
          <mat-list-item>
            <span class="ingredient-name" fxFlex="70">{{ item.name }}</span>
            <span class="ingredient-amount" fxFlex="30">
              {{ item.amount | number: '1.0-1' }} {{ item.unit }}
            </span>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
    <div class="macros-container" fxFlex="50">
      <h3 class="macros-header">Macronutrients</h3>
      <mat-list>
        <ng-container *ngFor="let item of macroList; let last = last">
          <mat-list-item>
            <span class="macro-name" fxFlex="50">{{ item.name }}</span>
            <span class="macro-amount" fxFlex="50"
              >{{ item.amount | number: '1.0-1' }} g</span
            >
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>

  <div class="steps-container">
    <h3 class="steps-header">Steps</h3>
    <mat-list>
      <ng-container
        *ngFor="let step of steps; let index = index; let last = last"
      >
        <mat-list-item>
          <span class="step-number" fxFlex="10">Step {{ index + 1 }}</span>
          <span class="step-info" fxFlex="90">{{ step.step }}</span>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
  <button mat-button mat-dialog-close color="primary">Close</button>
  <button
    *ngIf="mode === 'searchList'"
    mat-raised-button
    color="primary"
    (click)="addMeal()"
  >
    Add
  </button>
</mat-dialog-actions>
