<div class="meals-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-accordion class="panel-container">
    <mat-expansion-panel
      *ngFor="let meal of data"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title">
          <app-text-tooltip
            [fullText]="meal.title"
            [maxLength]="35"
          ></app-text-tooltip>
        </mat-panel-title>
        <mat-panel-description>
          {{ meal.nutrients[0].amount | number: '1.0-0' }}
          {{ meal.nutrients[0].unit }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="first-row" fxLayoutAlign="space-between">
        <div class="image-container">
          <img src="{{ meal.image }}" />
        </div>
        <div class="macros-container">
          <mat-list>
            <mat-list-item>
              <span fxFlex="50">Protein</span>
              <span class="macro-amount" fxFlex="50"
                >{{ meal.nutrients[3].amount | number: '1.0-0' }}
                {{ meal.nutrients[3].unit }}
              </span>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <span fxFlex="50">Fat</span>
              <span class="macro-amount" fxFlex="50"
                >{{ meal.nutrients[1].amount | number: '1.0-0' }}
                {{ meal.nutrients[1].unit }}
              </span>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <span fxFlex="50">Carbs</span>
              <span class="macro-amount" fxFlex="50"
                >{{ meal.nutrients[2].amount | number: '1.0-0' }}
                {{ meal.nutrients[2].unit }}</span
              >
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <mat-action-row class="buttons-container">
        <button
          *ngIf="mode === 'mealList'"
          mat-button
          color="warn"
          (click)="deleteMeal(meal)"
        >
          Delete
        </button>
        <button
          class="more-information-button"
          mat-button
          color="primary"
          (click)="openDialog(meal)"
        >
          More information
        </button>
        <button
          *ngIf="mode === 'searchList'"
          mat-raised-button
          color="primary"
          (click)="addMeal(meal)"
        >
          Add
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
