@import '../../styles/variables.scss';

.meals-container {
  padding: 20px 0;

  .panel-container {
    max-width: 500px;
    width: 85%;

    .panel-title {
      font-weight: 500;
    }

    .first-row {
      .image-container {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }

      .macros-container {
        min-width: 175px;

        .macro-amount {
          text-align: center;
        }
      }
    }

    .buttons-container {
      padding: 16px 24px 16px 24px;
    }
  }
}
